<a href="/"><button class="btn btn-primary">Logout</button></a>
<a href="/new_question"><button class="btn btn-primary">Add a question</button></a>

<h1>Hi {{User}}!</h1>

<form (submit)="onSubmitSearch()">
	<!-- <p>Search: <input type="text" name="search" [(ngModel)]="search"></p> -->
	<div class="input-group col-md-8">
	      <input class="form-control rounded-0 py-2" type="search" name="search" placeholder="Search all questions" id="search" [(ngModel)]="search">
	      <span class="input-group-btn">
	        <button class="btn btn-outline-secondary" type="submit">
	            <i class="fa fa-search">Search</i>
	        </button>
	      </span>
	</div>
<br>	
</form>

<br>

<p *ngIf="Questions.length == 0">No questions here!</p>

<table *ngIf="Questions.length > 0">
	<tr>
		<th>Question</th>
		<th>Answers</th>
		<th>Action</th>
	</tr>
	<tr *ngFor="let x of Questions">
		<td>{{x.question}}</td>
		<td>{{x.answers.length}}</td>
		<td><a href="/question/{{Questions.indexOf(x)}}"><button class="btn btn-primary">Show</button></a> | <a href="/answer/{{Questions.indexOf(x)}}"><button class="btn btn-primary">Answer</button></a></td>
	</tr>
</table>
